*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}
body {
	max-width: 970px;
}
#globe {
	width: 100px;
	display: inline-block;
	position: relative;
	top: 30px;
}
/*Text Styling*/
.netBlue {color: #22659e;}
.red {color: #da3a34;}
.blue{color: #00c0df;}
.bold{font-weight: bold;}

#theInternet {
	font-size: 300%;
	display: inline-block;
	color: #474747;
	font-weight: bold;
}
#theWWW {
	display: block;
	background: linear-gradient(#23659e, #5082ac, #23659e);
	color: white;
	padding: 15px;
	font-size: 166%;
}
/*END OF HEADER CSS*/
#wrapper {
	background: linear-gradient(#e3e3e3, white);
}
#sidePanel {
	max-width: 18%;
	display: inline-block;
	padding: 0px 5px;
	text-align: left;
}
#topHalf{
	margin-bottom: 20px;
	border-bottom: 2px solid #a4a4a4;
}
#topHalf h3 {
	padding: 5px 0px;
	margin-top: 10px;
	font-size: 15px;
	font-weight: bolder;
}
#inNet {
	padding: 15px 0px;
	margin-bottom: 5px;
	font-size: 13px;

}
.stdButton{
	width: 94%;
	margin: 0px auto 4px auto;
	font-size: 15px;
	padding: 7px 0px;
	color: white;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 1px black;
	text-align: center;
}
#watch {
	background: linear-gradient(#6297c3, #23669e);
}
#resources {
	background: linear-gradient(#eaab53, #ef7300);
	margin-bottom: 20px;
}
#learn {
	background: linear-gradient(#77d0df, #00c0df);
	margin: 5px auto 20px auto;
}
#ad {
	width: 94%;
	margin: 20px auto 0px auto;
	padding: 10px 5px;
	background-image: url(images/ad_background.png);
	text-align: center;
	box-shadow: 1px 1px 1px black;
}
#reinvent {
	color: white;
	text-align: center;
	width: 90%;
	margin: 15px auto 0px auto;
	font-size: 21px;
	font-weight: normal;
}
#ninja {
max-width: 43%;
margin: 5px auto;
}
/*END OF SIDEBAR CSS*/
#rightPanel {
	display: inline-block;
	margin-left: 20px;
	max-width: 78%;
	vertical-align: top;
}
#upperBar{
	display: inline-block;
	vertical-align: top;
	padding: 0px 10px;
	border-bottom: 1px solid #b4b4b4;
	padding-bottom: 15px;
}
#DNS{
	display: inline-block;
	vertical-align: middle;
	height: 20px;
}
#DNS img {
	display: inline-block;
	height: 100%;
	vertical-align: text-bottom;
}
#DNS p {
	display: inline-block;
	vertical-align: middle;
}
#phoneImg{
	vertical-align: middle;
	display: inline;
	width: 35px;
	margin-left: 460px;
	padding: 10px;
}
#callMe {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}
#callMe p {
	display: block;
}
#teleNumber{
	font-size: 150%;
	font-weight: bold;
}
.contact {
	font-size: 10px;
}
#content {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
#content h1 {
	color: #2c6ca2;
	font-size: 120%;
	font-weight: bold;
}
#content ul li {
	margin: 5px;
}
#content img {
	width: 30%;
}
#content ul li {
	margin: 5px;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
#big3Box {
	border-top: 10px solid #0085e0;
	display: block;
	vertical-align: top;
}
#big3Box img {
	max-width: 20%;
	display: inline;
}
#text {
	margin-top: 10px;
	width: 75%;
	display: inline-block;
	vertical-align: top;
}
#text h1 {
	vertical-align: top;
	display: inline;
	margin: 10px 0px;
}
#text p {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}