<!-- Inside apps/first_app/templates/first_app/index.html -->
<!-- {% load staticfiles %}
<link rel="stylesheet" href="{% static 'first_app/css/styles.css' %}">
<script src="{% static 'first_app/js/main.js' %}" > </script> -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ninjas</title>
</head>
<body>
	<h1>No Ninjas Here</h1>
	<span color='white'>Psst...There's totally ninjas here!</span>
</body>
</html>
