<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ninjas</title>
	{% load staticfiles %}
</head>
<body>
	{% if color == 'blue' %}
		<img src="{% static 'turtles/imgs/leonardo.jpg' %}" alt="">
	{% elif color == '' %}
		<img src="{% static 'turtles/imgs/tmnt.png' %}" alt="">
	{% elif color == 'red' %}
		<img src="{% static 'turtles/imgs/raphael.jpg' %}" alt="">
	{% elif color == 'orange' %}
		<img src="{% static 'turtles/imgs/michelangelo.jpg' %}" alt="">
	{% elif color == 'purple' %}
		<img src="{% static 'turtles/imgs/donatello.jpg' %}" alt="">
	{% else %}
		<img src="{% static 'turtles/imgs/notapril.jpg' %}" alt="">
	{% endif %}
</body>
</html>
