<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Login</title>
	</head>
	<body>
		{% if messages %}
		<ul class = 'messages'>
			{% for message in messages %}
				 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if not request.session.user_id %}
			<div id="login" class='regField'>
				<h3>Log In to Access the Site:</h3>
				<fieldset>
					<legend>Log In</legend>
					<form action="{% url 'login:login' %}" method="POST">
						{% csrf_token %}
						<table>
							<tr><td>Email: </td><td><input type="text" name="email" id=""></td>
							<tr><td>Password: </td><td><input type="password" name="password" id=""></td>
							<tr><td></td><td><input type="submit" value="Login"></td>
						</table>
					</form>
				</fieldset>
			</div>
			<div id="register" class="regField">
				<h4>...or register a new email!</h4>
				<fieldset>
					<legend>Register</legend>
					<form action="{% url 'login:register' %}" method="POST">
						{% csrf_token %}
						<table>
							<tr><td>First Name: </td><td><input type="text" name="first_name" id=""></td></tr>
							<tr><td>Last Name: </td><td><input type="text" name="last_name" id=""></td></tr>
							<tr><td>Email: </td><td><input type="text" name="email" id="" required></td></tr>
							<tr><td>Password: </td><td><input type="password" name="password" id="" required></td></tr>
							<tr><td>Confirm Password: </td><td><input type="password" name="password2" id="" required></td></tr>
							<tr><td></td><td><input type="submit" value="Register Now!"></td></tr>
						</table>
					</form>
				</fieldset>
			</div>
	{% else %}
	<div>
		<form action="{% url 'login:logout' %}"><input type="submit" value="Log Out"></form>
		<h2>Add a new course</h2>
		<form action="{% url 'courses:submit' %}" method="POST">
			{% csrf_token %}
			Title: <input type="text" name="title" id=""><br>
			Description: <br>
			<textarea name="description" id="" cols="30" rows="10"></textarea>
			<br>
			<input type="submit" value="Add">
		</form>
	</div>
	<hr>
	<div>
		<h1>Courses</h1>
		<table>
			<thead>
				<td>Course Name</td>
				<td>Description</td>
				<td>Date Added</td>
				<td>Actions</td>
			</thead>
			{% for course in courseList %}
				<tr>
					<td>{{course.title}}</td>
					<td>{{course.description}}</td>
					<td>{{course.created_at}}</td>
					<td>
						<form action='{% url "courses:confirm" course.id %}'><input type="submit" value="Remove"></form>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div>
		<form action="{% url 'courses:users_courses' %}"><input type="submit" value="Register for Classes"></form>
	</div>
	{% endif %}
	</body>
</html>
