<html>
	<head>
		<!-- linking a css style sheet -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
		<!-- linking a javascript file -->
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script> -->
	</head>
	<body>
		<div id="wallet">
			<p>Your Gold:</p>
			<p id='cashcashmoney'>{{session['wallet']}}</p>
		</div>
		<div class="option">
			<h3>Farm</h3>
			<p>(earns 10-20 gold)</p>
			<form action="/process_money" method="post">
				<input type="hidden" name="building" value="farm" />
				<input type="submit" value="Find Gold!"></form>
		</div>
		<div class="option">
			<h3>Cave</h3>
			<p>(earns 5-10 gold)</p>
			<form action="/process_money" method="post">
				<input type="hidden" name="building" value="cave" />
				<input type="submit" value="Find Gold!"></form>
		</div>
		<div class="option">
			<h3>House</h3>
			<p>(earns 2-5 gold)</p>
			<form action="/process_money" method="post">
				<input type="hidden" name="building" value="house" />
				<input type="submit" value="Find Gold!"></form>
		</div>
		<div class="option">
			<h3>Casino</h3>
			<p>(earns/takes 0-50 gold)</p>
			<form action="/process_money" method="post">
				<input type="hidden" name="building" value="casino" />
				<input type="submit" value="Find Gold!"></form>
		</div>
		<p>Activities:</p>
		<div id="activites">
			<!-- color the text properly. ::-1 reverses the traverse -->
			{% for entry in (session['activityLog'][::-1]) %}
			 <div class="{{'red' if entry[34] == '.' else 'green'}}">{{entry}}</div>
		  {% endfor %}
		</div>
		<form action="/process_money" method="post">
			<input type="hidden" name="building" value="reset" />
			<input type="submit" value="Reset!"></form>
	</body>
</html>
