<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

	<div id="yay"></div>
	<h1>Email Addresses Entered:</h1>
	<table>
		<thead>
			<td>Email Address:</td>
			<td>Date Added:</td>
			<td>Action:</td>
		</thead>
		{% for email in emailList %}
			<tr>
				<td>{{email.address}}</td>
				<td>{{email.created_at}}</td>
				<td>
					<form action="/delete/{{email.id}}" method='GET'><input type="hidden" name="id" value={{email.id}}><input type="submit" value="Delete"></form>
				</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>
