<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<form action="">
		<textarea name="name" rows="8" cols="80" placeholder='Do you want your own ninja dojo? Tell us why.'></textarea>
		<input type="submit" action=''></input>
	</form>
	<h1 class='poof'>WE ALREADY KNOW WHERE YOU ARE</h1>
</body>
</html>
