<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Login</title>
	</head>
	<body>
		{% if messages %}
		<ul class = 'messages'>
			{% for message in messages %}
				 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<h1>Register:</h1>
		<form action="/register" method="POST">
			{% csrf_token %}
			<table>
				<tr><td>First Name: </td><td><input type="text" name="first_name" id=""></td></tr>
				<tr><td>Last Name: </td><td><input type="text" name="last_name" id=""></td></tr>
				<tr><td>Email: </td><td><input type="text" name="email" id="" required></td></tr>
				<tr><td>Password: </td><td><input type="password" name="password" id="" required></td></tr>
				<tr><td>Confirm Password: </td><td><input type="password" name="password2" id="" required></td></tr>
				<tr><td></td><td><input type="submit" value="Register"></td></tr>
		</table>
		</form>
		<hr>
		<h1>Login: </h1>
		<form action="/login" method="POST">
			{% csrf_token %}
			<table>
				<tr><td>Email: </td><td><input type="text" name="email" id=""></td>
				<tr><td>Password: </td><td><input type="password" name="password" id=""></td>
				<tr><td></td><td><input type="submit" value="Login"></td>
		</table>
		</form>
	</body>
</html>
