*{
	padding: 0px;
	margin: 0px;
}
form {
	display: inline-block;
	text-align: right;
	max-width: 30%;
	font-weight: bold;

}
form p {

}
.contactCard{
	width: 300px;
	height: 250px;
	border: 3px solid black;
}
.backSide {
	display: hidden;
}
#contactList {
	border: 1px solid lime;
	display: inline-block;
	min-width: 300px;
	min-height: 300px;
}
